.aboutPage{
    height: 100vh;
    background-color: rgb(209, 203, 193);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutPage p{
    width: 40%;
    font-size: 1.5em;
}

.rounded{
    width:50%;
}

@media only screen and (max-width: 1587px){
    .aboutPage{
        height: 100vh;
    }
    .rounded{
        display:none;
    }
    .aboutPage p{
        width: 80%;
    }
}

@media only screen and (max-width:824px){
    .aboutPage{
        height:100vh;
        padding-top: 80px;
    }
}

@media only screen and (max-width:775px){
    .aboutPage{
        height:100%;
        padding-top: 80px;
    }
}
